@using PagedList.Mvc
@model PagedList.IPagedList<HRISv2.Models.vDuplicateEICPlantillaPreparation>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@*@model IEnumerable<HRISv2.Models.vDuplicateEICPlantillaPreparation>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "DuplicatePlantilla", FormMethod.Get))
{
    <div class="form-group form-inline">
        @Html.TextBox("CurrentFilter", ViewBag.CurrentFilter as string, new { @class = "form-control", @autocomplete = "off", @style = "width: 280px" })
        <input type="submit" value="Search Lastname" class="btn btn-flat" />
    </div>
}
<div class="row">
    <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
            <div class="panel-heading" style="background-color: #008800; color: #ffffff"><h4>Duplicate EIC in Plantilla</h4></div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr style="background-color: #00bb00; color: #ffffff">
                        <th>
                            Fullname
                        </th>
                        <th>
                            Total Entries
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.fullnameLast)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.totalEntries)
                            </td>
                            <td>
@*                                @Html.ActionLink("Details", "Details", new { id = item.EIC })*@
                                <a href="@Url.Action("Details", "DuplicatePlantilla", new { id = item.EIC })" class="btn btn-xs btn-default" title="View details"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, CurrentFilter = ViewBag.CurrentFilter }))
