@using PagedList.Mvc
@model PagedList.IPagedList<HRISv2.Models.vUserProfileWithUsername>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css"/>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "UserLog", FormMethod.Get))
{
    <div class="form-group form-inline">
        @Html.TextBox("CurrentFilter", ViewBag.CurrentFilter as string, new { @class = "form-control", @autocomplete = "off", @style = "width: 400px" })

        <button type="submit" class="btn btn-default btn-md">
            <span class="glyphicon glyphicon-search"></span> Search Lastname
        </button>
    </div>
}
<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #008800; color: #ffffff"><h4>Employee User Account</h4></div>
    <table class="table table-hover">
        <thead>
        <tr style="background-color: #00bb00; color: #ffffff;">
            <th>
                FULLNAME
            </th>
            <th>
                EIC
            </th>
            <th>
                USERNAME
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
         @foreach (var item in Model)
              {
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => item.Fullname)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.EIC)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.UserName)
                      </td>
                      <td>
                          <a href="@Url.Action("Reset", "UserLog", new {id = item.EIC})" class="btn btn-xs btn-default" title="Reset account"><span class="glyphicon glyphicon-refresh"></span></a>
                          <a href="@Url.Action("Details", "UserLog", new {id = item.EIC})" class="btn btn-xs btn-default" title="View details"><span class="glyphicon glyphicon-eye-open"></span></a>

@*                          @Html.ActionLink("Reset", "Reset", new {id = item.EIC}) |*@
@*                          @Html.ActionLink("Details", "Details", new {id = item.EIC})*@
                      </td>
                  </tr>
              }

        </tbody>

    </table>
</div>


<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, CurrentFilter = ViewBag.CurrentFilter }))